@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    background: #F6F6F6;
}

* {
    box-sizing: border-box !important;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

input:not([type="submit"]),
select,
textarea {
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    outline: 1px solid gray;
    background: none;
}

input[type="color"] {
    width: 32px;
    height: 32px;
    padding: 0;
    overflow: hidden;
}

select {
    cursor: pointer;
}

input[type="checkbox"] {
    position: relative;
    width: 24px;
    height: 24px;
    appearance: none;
    border-radius: 8px;
    outline: 1px solid gray;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background: rgba(241, 51, 63, 0.5);
}

input[type="checkbox"] ~ .check {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    pointer-events: none;
}

input[type="checkbox"]:checked ~ .check {
    visibility: visible;
}

input:focus,
select:focus {
    outline: 2px solid #F1333F;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inset {
    position: relative;
    padding: 0 6rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}

.header div {
    display: flex;
    align-items: center;
}

.header__brand {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.header__brand > img {
    margin-top: 20px;
    margin-right: 10px;
    height: 120px;
}

.header__nav {
    flex: 1;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    font-size: 1.5rem;
}

.header__nav a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    opacity: 0.5;
}

.header__nav a:hover,
.header__nav a.active {
    opacity: 1;
}

.footer {
    margin-top: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    background: #0f0f0f;
    color: white;
}

.footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a:hover {
    text-decoration: underline;
}

.footer__nav {
    display: flex;
    justify-content: flex-start !important;
    gap: 2rem;
}

.footer__brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
}

.footer__brand:hover {
    text-decoration: none !important;
}

.footer__brand img {
    height: 40px;
}