.header {
    position: absolute;
    background: transparent;
    color: white;
    box-shadow: none;
}

.hero {
    position: relative;
    margin-bottom: 15px;
    height: 38vh;
    display: flex;
    flex-direction: column;
    background-image: url("../images/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.5rem;
}

.hero h1 {
    margin: 0;
    font-size: 4rem;
}

.filters {
    width: 100%;
    transform: translateY(-50%);
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 100px;
    background: white;
    border-radius: 32px;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
}

.filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
}