.header {
    position: absolute;
    background: transparent;
    color: white;
    box-shadow: none;
}

.header.popOut {
    position: fixed;
    background: white;
    color: black;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.hero {
    position: relative;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.5rem;
}

.hero h1 {
    margin: 0;
    font-size: 4rem;
}

.filters {
    width: 100%;
    min-height: 225px;
    transform: translateY(-50%);
    padding: 4rem 8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 75px;
    grid-row-gap: 15px;
    background: white;
    border-radius: 32px;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    .filters {
        padding: 2rem;
        grid-template-columns: repeat(1, 1fr);
    }
}

.filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
}

.content {
    min-height: 50vh;
    display: grid;
    grid-auto-rows: 325px;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    grid-gap: 4rem;
}